# Node modules
node_modules/
**/node_modules/

# Build output
dist/
build/
coverage/

# Logs
*.log

# Environment files
.env
.env.*

# IDE files
.vscode/
.idea/
.DS_Store

# Storybook static build
storybook-static/

# Misc
*.tgz 